[user]
	name = pascalpoizat
	email = pascal.poizat@lip6.fr
	signingkey = 91A33B330ED700AD
[core]
	autocrlf = input
	excludesfile = /Users/pascalpoizat/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[commit]
	template = /Users/pascalpoizat/.stCommitMsg
[push]
	default = simple
[gpg]
	program = gpg2
[hub]
	protocol = https
