[user]
	name = pascalpoizat
	email = pascal.poizat@lip6.fr
[core]
	autocrlf = input
	excludesfile = /Users/pascalpoizat/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/pascalpoizat/.stCommitMsg
[push]
	default = simple
